{% load index %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body style="padding: 30px 0;">
    <div class="col-6 text-center" style="margin-bottom: 35px;">
        <small>
            <a href="{% url 'index' %}">Travelista</a>
        </small>
    </div>

    <div>
    {% if para %}
            <div class="text-center mt-4">
                <img class="img-fluid img-thumbnail" width="500px" src="{{ city_image_link }}" alt="{{ city_info.city_heading }} - Image">
            </div>

            <div class="mt-4 text-center">
                <h2>{{ city_name }}, {{ state }}, {{ country }}</h2>
            </div>

            <div class="mt-2 text-center">
                <p><i><b>COVID-19 Stats: </b></i><i class="text-danger">{{ covid_details }}</i></p>
            </div>

            <div style="width: 85%;
            margin: auto;
            text-align: center;">
                <p>{{ para }}</p>
            </div>

            <div class="text-center mt-4 mb-4">
                <a href="{% url 'places_to_visit' city_name %}">Places to visit</a>
                <span class="ml-3">|</span>
                <a class="ml-3" href="{% url 'food' city_name %}">Famous food</a>
            </div>

        {% else %}
            <h1 class="text-center mt-4 mb-4">No result found for '{{ city_name }}'</h1>
        {% endif %}

    </div>
</body>
</html>