{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'Places/styles.css' %}">

    <title>Document</title>
  </head>
  <body>
      <div class="text-center" style="margin: 35px 0;">
          <small>
              <a href="{% url 'city' %}?city_name={{ city_name }}">Search - {{ city_name }}</a>
              <span class="ml-1">|</span>
              <a href="{% url 'food' city_name %}" class="ml-1">Famous food</a>
              <span class="ml-1">|</span>
              <a href="{% url 'index' %}">Travelista</a>
          </small>
      </div>

    <!-- <h1>{{ city_name }}</h1> -->
    <div class="cards">
      <h2 class="mt-4 text-center">Top places to visit in {{ city_name }}</h2>

      {% if places %}
      <div class="container-places" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;">
          {% for place in places.values %}
          <div class="container-place" style="width: 30%; margin: 30px 0;">
              <!-- <div class="card"> -->
                  <img class="container-place-img" style="width: 300px;" src="{{ place.photo_link }}" alt="{{ place.name }} - Image">
                  <h4 >{{ place.name }}</h4>
                  <p style="line-height: 16px; width: 100%;">{{ place.info }}</p>
                  <a href="{{ place.link }}" class="btn btn-sm btn-primary">Know More</a>
              <!-- </div> -->
          </div>
          {% endfor %}
      </div>
  
      {% else %}
          <p class="text-center"><i>No result found...</i></p>
      {% endif %}
     
    </div>
  </body>
</html>
